/**
 * @name Float
 * @author maenDisease
 * @version 2.0.21
 * @description Compact mobile Discord with customization.
 * @source https://github.com/maenDisease/Float
 * @website https://maendisease.github.io/
 * @invite BShu37e4jg
*/

@import url('https://maendisease.github.io/Float/Float.css');

@import url(https://maendisease.github.io/BetterDiscordStuff/css/bdAddonMini.css);
:root {
    /* Guildlist */
    --guildicon-size: 48;
    --enable-if-using-favorites-experiment: 0; /* boolean */
    --guildlist-collapse: 0; /* boolean */

    /* Channel sidebar */
    --slide-window-on-hover: 0; /* boolean */
    --float-sidebar-width: 48;
    --sidebar-hover-width: 240px;
    --sidebar-hover-delay: 0.5s;
    --sidebar-transition-duration: 0.05s;
    --sidebar-window-gap: 0px;
    --sidebar-border-radius: 0px;
    --sidebar-usersettings-width: 66px;

    /* Memberlist */
    --float-members-width: 65px;
    --members-hover-width: 180px;
    --members-hover-delay: 0.2s;
    --members-transition-duration: 0.05s;

    /* Channelheader */
    --topic-opacity: 1;
    --toolbar-visibility: flex; /* [flex][none] */

    /* Textarea buttons */ /* [flex][none] */
    --textarea-buttons-gif: flex;
    --textarea-buttons-sticker: flex;
    --textarea-buttons-gift: flex;

    /* Theme compatibility */
    /* --float-guildlist-width-correction: 0px; */
}

/* The variables are used when the window is at the set sizes, each media query can be edited/deleted */
@media (max-width:1280px) {
    :root {
        --float-sidebar-width: 150;
        --guildicon-size: 35;
        --topic-opacity: 0;
        --toolbar-visibility: none;
    }
}

@media (max-width:641px) {
    :root {
        --float-members-width: 0;
        --textarea-buttons-sticker: none;
        --textarea-buttons-gift: none;
    }
}

@media (max-width:450px) {
    :root {
        --float-sidebar-width: 48;
        --guildicon-size: 20;
        --textarea-buttons-gif: none;
    }
}

@media (max-width:350px) {
    :root {
        --float-sidebar-width: 0;
        --guildlist-collapse: 1;
    }
}
